.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.profilePhoto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 0px;
}

.sideBySide {
  display: flex;
  padding: 1%;
}

.homeHeading{
  font-size: 60px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.pageHeading {
  font-size: 60px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}

.basePage  {
  background-color: grey;
  font-size: 20px;
  font-weight: bold; 
}

.heading1 h1 {
  text-align:center;

  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.heading1 h1:after,.heading1 h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color:#f8f8f8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
